 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 820px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 60px 30px 0;
}

.u-section-1 .u-table-1 {
  margin-top: 75px;
  margin-bottom: 60px;
  margin-left: 0;
}

.u-block-54ec-49 {
  border-style: dotted;
}

.u-block-54ec-48 {
  border-style: dotted;
}

.u-section-1 .u-table-header-1 {
  background-image: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
}

.u-section-1 .u-table-cell-1 {
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-2 {
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-3 {
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-4 {
  padding: 10px 20px;
}

.u-section-1 .u-table-body-1 {
  background-image: none;
}

.u-section-1 .u-table-cell-5 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-6 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-7 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-8 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-9 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-10 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-11 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-12 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-13 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-14 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-15 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-16 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-17 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-18 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-19 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-20 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-21 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-22 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-23 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-24 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-25 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-26 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-27 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-28 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-29 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-30 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-31 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-32 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-33 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-34 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-35 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-36 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-37 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-38 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-39 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-40 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-41 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-42 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-43 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-44 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-45 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-46 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-47 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-48 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-49 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-50 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-51 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-52 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-53 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-54 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-55 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-56 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-57 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-58 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-59 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-60 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-block-54ec-35 {
  background-image: none;
}

.u-block-54ec-42 {
  padding: 10px 20px;
}

.u-block-54ec-43 {
  padding: 10px 20px;
}

.u-block-54ec-44 {
  padding: 10px 20px;
}

.u-block-54ec-45 {
  padding: 10px 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 676px;
  }

  .u-section-1 .u-text-1 {
    width: 764px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-table-1 {
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 518px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 926px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 681px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 12px;
}